/* Reset */

*,
*::before,
::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img,
svg,
video,
picture {
    max-width: 100%;
}

body {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

/* Utilities */

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

.colored-sec {
    background-color: #9792E4;
}

/* General */

/* Header style */

header {
    background-color: #0084FD;
}

#logo {
    padding: 1rem 0;
}

.head-link {
    color: white;
    display: inline-block;
    padding: 1.5rem 0.5rem;
}

#startbutton-small {
    display: inline-block;
    padding: 0.5rem 0.5rem;
    background-color: white;
    border-radius: 2rem;
}

.headcol-left {
    flex-basis: 50%;
}

.headcol-right {
    flex-basis: 50%;
    text-align: right;
}

/* Features style */

.features {
    flex-direction: column;
}

.cards-row {
    display: flex;
    margin: 0.5rem 0;
    gap: 1rem;
}

.card-big {
    display: flex;
    width: calc(100% / 3 * 2);
    position: relative;
    background-color: #B5DDFF;
    border-radius: 1rem;
}

.bigcol-left {
    flex-basis: 60%;
}

.bigcol-right {
    flex-basis: 40%;
    display: flex;
}

#store-button {
    background-color: #0084FD;
    color: white;
    padding: 1rem 2.5rem;
    margin: 1rem;
    border-radius: 2rem;
}

.fa-apple {
    padding-right: 0.5rem;
}

#phone {
    width: 80%;
    align-self: flex-end;
}

.card {
    width: calc(100% / 3);
    text-align: center;
    background-color: #B5DDFF;
    border-radius: 1rem;
}

.feat-title {
    padding: 1.5rem 1rem;
    color: #0084FD;
}

.feat {
    padding: 1rem;
}

.feat-icon {
    font-size: 4rem;
    padding-top: 2rem;
    color: #0084FD;
}

/* Strategic planning */

.box {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
}

.column-left {
    flex-basis: 50%;
}

.column-right {
    flex-basis: 50%;
}

.small-box {
    width: 80%;
    background-color: white;
    border-radius: 2rem;
    text-align: center;
    margin-top: 15vh;
}

#planning1 {
    width: 80%;
    margin: 2rem;
}

#planning2 {
    width: 70%;
}

.title-left {
    color: white;
    padding: 2rem 1rem;
}

.text-left {
    color: white;
    padding: 2rem 1rem;
}

.title-right {
    padding: 1rem 1rem;
}

.text-right {
    padding: 1rem 1rem;
}

.fa-arrow-down {
    background-color: #9792E4;
    border-radius: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
}

/* Testimonials */

.testimonials {
    flex-direction: column;
    align-items: center;
}

.test-col {
    display: flex;
    flex-direction: column;
}

.test-row {
    
    width: 1200px;
    height: 200px;
    background-color: yellow;
    border: 2px dashed black;
}

/* Benefits */

/* About */

.infocol-left {
    flex-basis: 60%; 
    
    height: 600px;
    background-color: darkolivegreen;
    border: 2px dashed black;
}

.infocol-right {
    flex-basis: 30%;
    
    height: 600px;
    background-color: darkolivegreen;
    border: 2px dashed black;
}

/* Get started */

.get-started {
    text-align: center;
}

/* Footer */

footer {
    background-color: black;
}