/* Reset */

*,
*::before,
::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img,
svg,
video,
picture {
    max-width: 100%;
}

body {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

/* Utilities */

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

.colored-sec {
    background-color: #9792E4;
}

/* General */

/* Header style */

header {
    background-color: #0084FD;
}

#logo {
    padding: 1rem 0;
}

.head-link {
    color: white;
    display: inline-block;
    padding: 1.5rem 0.5rem;
}

#startbutton-small {
    display: inline-block;
    padding: 0.5rem 0.5rem;
    background-color: white;
    border-radius: 2rem;
}

.headcol-left {
    flex-basis: 50%;
}

.headcol-right {
    flex-basis: 50%;
    text-align: right;
}

/* Features style */

.features {
    flex-direction: column;
    padding: 5vh 0;
}

.cards-row {
    display: flex;
    margin: 0.5rem 0;
    gap: 1rem;
}

.card-big {
    display: flex;
    width: calc(100% / 3 * 2 - 16px);
    position: relative;
    background-color: #B5DDFF;
    border-radius: 1rem;
}

.bigcol-left {
    flex-basis: 60%;
}

.bigcol-right {
    flex-basis: 40%;
    display: flex;
}

#store-button {
    background-color: #0084FD;
    color: white;
    padding: 1rem 2.5rem;
    margin: 1rem;
    border-radius: 2rem;
}

.fa-apple {
    padding-right: 0.5rem;
}

#phone {
    width: 80%;
    align-self: flex-end;
}

.card {
    width: calc(100% / 3 - 16px);
    text-align: center;
    background-color: #B5DDFF;
    border-radius: 1rem;
}

.feat-title {
    padding: 1.5rem 1rem;
    color: #0084FD;
}

.feat {
    padding: 1rem;
}

.feat-icon {
    font-size: 4rem;
    padding-top: 2rem;
    color: #0084FD;
}

/* Strategic planning */

.box {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding: 5vh 0;
}

.column-left {
    flex-basis: 50%;
}

.column-right {
    flex-basis: 50%;
}

.small-box {
    width: 80%;
    background-color: white;
    border-radius: 2rem;
    text-align: center;
    margin-top: 17vh;
}

#planning1 {
    width: 80%;
    margin: 2rem;
}

#planning2 {
    width: 70%;
}

.title-left {
    color: white;
    padding: 2rem 1rem;
}

.text-left {
    color: white;
    padding: 2rem 1rem;
}

.title-right {
    padding: 1rem 1rem;
}

.text-right {
    padding: 1rem 1rem;
}

.fa-arrow-down {
    background-color: #9792E4;
    border-radius: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
}

/* Testimonials */

.testimonials {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5vh 0;
}

.test-col {
    display: flex;
    flex-direction: column;
}

.test-row {
    max-width: 1200px;
    display: flex;
    background-color: #9792E4;
    border-radius: 2rem;
    margin: 2rem 0;
}

.face {
    width: 12rem;
    height: 12rem;
    border-radius: 100%;
    padding: 1rem;
}

.testimonial-text {
    padding: 1rem;
    color: white;
}

.name {
    text-align: left;
    padding: 1rem 1rem;
    color: white;
}

.inside-row {
    padding-top: 4rem;
}

.testimonial-title {
    font-size: 3rem;
    color: #9792E4;
}

/* Benefits */

.big-title {
    text-align: center;
    font-size: 3rem;
    color: white;
    padding: 2rem 0;
}

.card-benefit {
    width: calc(100% / 3 - 16px);
    text-align: left;
    background-color: white;
    border-radius: 1rem;
}

.number {
    color: #9792E4;
    padding: 1rem 1rem;
    font-size: 4rem;
}

.benefit-title {
    color: #9792E4;
    padding: 1rem 1rem;
}

.benefit-text {
    color: #9792E4;
    padding: 1rem 1rem;
}

.more {
    padding: 0.5rem 2.5rem;
    margin: 1rem;
    background-color: #9792E4;
    border-radius: 2rem;
    display: inline-block;
    color: white;
}

/* About */

.infocol-left {
    flex-basis: 60%;
    padding: 5vh 0; 
}

.about-title {
    font-size: 5rem;
    color: #9792E4;
    padding: 1rem 0;
}

.about-text {
    font-size: 1.5rem;
    padding: 1rem 0;
}

.infocol-right {
    flex-basis: 40%;
    margin: 1rem 6rem;
    padding: 5vh 0; 
}

.profile {
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
}

.presentation {
    color: #9792E4;
    font-size: 1.5rem;
}

/* Get started */

.get-started {
    text-align: center;
    padding: 5vh 0;
}

h4 {
    color: white;
    padding: 2rem 0;
}

.bot-title {
    font-size: 6rem;
    color: #FDC15F;
}

.bot-text {
    color: white;
    padding: 3rem 0;
}

.big-button {
    padding: 1rem 4rem;
    background-color: white;
    border-radius: 2rem;
    margin: 2rem 0;
    color: #9792E4;
}

/* Footer */

footer {
    background-color: black;
    text-align: center;
}

.footer-box {
    max-width: 30vw;
    margin: 0 auto;
}

.footer-text {
    color: white;
    padding: 2rem 0;
}

.footer-text a {
    color: #9792E4;
}